.container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  background-color: rgba(255, 255, 255, 0.4);
  margin-top: -8px;
  width: 100%;
  box-shadow: 0 0 15px #000000;
}

.titleLink {
  text-decoration: none; /* Quita la decoración del enlace */
}

.title {
  margin-left: 20px; /* Espaciado entre el título y el borde izquierdo */
}

.button {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  margin-left: 380px;
  font-size: 12px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  width: 70px;
  height: 30px;
  cursor: pointer;
  transform: translate(0);
  transition: 0.25s ease-out;
}

.button:hover {
  transform: scale(1.05);
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
